### Datastrukturer ###

- Hvad er de fire datastrukturer? Hvad er forskellen mellem dem?

- Hvordan arbejder man med de 4 datastrukturer ved at bruge indeks og slicing syntaks?

- Hvordan opretter man lister vha. list comprehensions?

De 4 væsentlige datastrukturer:
- Lists
- Tuples
- Dictionaries
- Sets

Liste
- Sekvens datastruktur der opstilles i rækkefølge 
- Bruges til sortering hvor rækkefølgen kan ændres
- Fleksibel, kan tilføje, slette og ændre data
- Fri til at indsætte flere datatyper i samme liste
- Hvordan skriver man en liste?
    - [] eller list()
    - F.eks: ['Danmark', 'Sverige']
- Starter i '0' istedet for '1'
- Bruger mere hukommelse
- Loop ?
- Container type?
- Opret?
- Index?
- Slicing?

In [ ]:
#For at se metoder til datastrukturen?
dir(list)

In [ ]:
#Definer en variabel, opret en liste og gem det i variablen
l = [1, 2, 3, 4]

#Tilføj et nyt element i listen
l.append(5) 

#Output/Vis listen
l

[1, 2, 3, 4, 5]

In [ ]:
#Tilføj et nyt element et hvilket som helst sted i forrige liste

#Tiløjer 5 i index 2 [0, 1, 2, 3, 4...]
l.insert(2, 5)  # Adds 5 at index 2

l

[1, 2, 5, 5, 5, 5, 3, 4]

In [11]:
#Slet element i forrige liste

l.remove(5)  # Adds 5 at index 2

l

[1, 2, 3, 4]

In [1]:
#Slicing 
l = [1, 2, 3, 4]
l[1:3] #slicing

for i in l:
    print(i)

1
2
3
4

## Tupel ##
- Fastlagt strukturet sekvens datastruktur
- Imutable, rækkefølgen på elementer kan ikke ændres som en liste
- Forskellige datatyper ?
- Hurtigere end datastruktur: liste
- Bruger mindre hukommelse
- Fordel i fastlagte data: 
-  Følsomme personoplysninger, album info, koordinater, osv...
- Hvordan skriver man en tupel?
    - ()
    - F.eks: ('a',)

- Sequence Type
    - (1, 'Claus', 'Bove', True)

In [ ]:
#Metode for tuple
dir(tuple)

In [ ]:
#Loop i en liste
t = (10, 'Claus')

for i in t:
    print(i)

10
Claus

In [ ]:
student = ('Claus', 51, 'male', 'clbo@kea.dk', '31011970-1313')

for i in student:
    print(i)

#Listen kan ikke ændres

In [ ]:
car_brands = ('Bmw', 'Toyota', 'Hyundai', 'Skoda', 'Fiat', 'Volvo')

for i in car_brands:
    print(i.upper())
    #print(i.lower())
    #print(i.title())

#Listen kan ændres

In [ ]:
#List af tupler
locations = [
    (40.730610, -73.935242, "New York City, NY, USA"),
    (31.739847, 65.755920, "Kandahar, Kandahar Province, Afghanistan")
]

for i in locations:
    print(i)

Dictionaries
- Key values pairs of data
- Stores all data in a single object as {'Keys':'Values'}
- Inputs er vores keys, og outputs er vores værdier.
, Feks. {'Person': 'AJ'}
- Fleksibel. Værdier i dictionary kan have alle datatype og duplikeres på nær Keys
- Kets er Immutable. Kan indeholde tubples, strings og tal på nær en liste. 
- Bruger hashing
- Kan i visse tilfælde betragtes som en array.
- JSON
    -json.dumps(d) ?

In [ ]:
#Dictionary Example in posting in Social Media

post = { 
    'user_id':'209', 
    'message': 'Merry Christmas', 'language':'English', 
    'datetime':'04022025', 
    'location':(44.533454, -104.123432)
    }
#{'Keys':'Values'}

print(post)

In [ ]:
#Dictionary Class example with a constructor

#Du kan oprette et dictionary uden brug af '' til dine keywords
post = dict(message='Testing class dictionaries', language='English')
#print(post)

#Du kan tilføje nye data til ovenstående constructor
#Brug [''] = til at tilføje nye nøgleord og værdier
#['Keys'] = Values
post['user_id'] = 209
post['datetime'] = '04022025'
print(post)

In [ ]:
#Acessing data in dictionaries

post = dict(message='Acessing data in dictionaries', language='English')
#print(post['message'])

#Printing data that is not in the dictionary gives a 'KeyError'
#print(post['location'])

#Define a logic to show that the key is or is not in the dictionary
if 'location' in post:
    print(post['location'])
else:
    print('The post does not contain a location value.')

#Another way to code the logic for the above:
#Why? I dont know
try:
     print(post['location'])
except KeyError:
        print('The post does not contain a location value.')

In [ ]:
dir(post)

In [12]:
d = {
    'name':'Claus', 'age':12, 'length' : len
}

In [ ]:
import json

jd = json.dumps(d)

jd

### Set ###

- En kollektion af kun unikke data
- Store non-duplicate items
- Meget hurtigere tilgængelighed end datastruktur: List
- Kan overskrive mange af de samme værdier i en kollektion og lave det om til en unikt værdi
- Rækkefølge/struktur er irrelevant
- Metoder:
    dir(example)
    dir(prime)
    len() #Ser antal data i kollektionen
- Kan koble flere kollektioner sammen
- Unions
- Intersections

In [ ]:
#Set 
l = [1, 2, 3, 4, 4, 8, 6, 5, 3]
l[1:3] #slicing

for i in l:
    pass

s = set(l)
s,

Opgave 1 - 
The following data should be presented as either a list or a tuple, or as a combination of both.
Your job is to choose the right one.
Hint: A list is a collection of the same type of data, a tuple is a record (e.g. in a database a record is called a row)

1. Claus, 51, male, clbo@kea.dk, 31011970-1313
2. Bmw, Toyota, Hyundai, Skoda, Fiat, Volvo
3. Claus, Henning, Torben, Carl, Tine
4. 'Hello', 'World', 'Huston', 'we', 'are', 'here'
5. Rolling Stones, Goats Head Soup, 31 August 1973, 46:56
6. 40.730610, -73.935242, New York City, NY, USA; 31.739847, 65.755920, Kandahar, Kandahar Province, Afghanistan;

Opgave 2 - Slicing

By using the slicing syntax change the following collections.

After slicing:

['Hello', 'World', 'Huston', 'we', 'are', 'here'] should become -> ['World', 'Huston', 'we', 'are']
['Hello', 'World', 'Huston', 'we', 'are', 'here'] -> ['Hello', 'World']
['Hello', 'World', 'Huston', 'we', 'are', 'here'] -> ['are', 'here']
['Hello', 'World', 'Huston', 'we', 'are', 'here'] -> ['are']
['Hello', 'World', 'Huston', 'we', 'are', 'here'] -> ['Hello', 'Huston', 'are']
['Hello', 'World', 'Huston', 'we', 'are', 'here'] -> ['here', 'are', 'we', 'Huston', 'World', 'Hello']
('Hello', 'World', 'Huston', 'we', 'are', 'here') should become -> ['World', 'Huston', 'we', 'are']
'Hello World Huston we are here' -> 'World Huston we'

Figure out more on your own and practice this a lot!

Loops
- foreach
- Built in functions: enumerate, range

In [ ]:
#range
for i in range(1, 9):
    print(i)

In [ ]:
#Enumerate
for i in enumerate(['Claus', 'Bent', 'Torben']):
    #print(i)
    print(i[0])
    print(i[1])

List Comprehension

In [ ]:
#Eksempel
l = []
for i in [1, 2, 3, 4]:
    if i%2==0:
        l.append(i**2)

l

In [ ]:
#Hurtigere måde at skrive det på fra ovenstående eksempel
[i**2 for i in [1, 2, 3, 4] if i%2 == 0 ]

Opgave 5 - List Comprehensive

1. Lav en liste af store bogstaver i det engelske alfabet

2. Lav en liste af store bogstaver fra det engelske alfabet, men udelad 4 med Unicode-kodepunktet enten 70, 75, 80, 85.

3. Lav en liste af store bogstaver fra det engelske alfabet, men udelad hvert andet bogstav mellem F & O

In [ ]:
#Opgave 1 - Store bogstaver fra den engelske alfabet
[ chr(i) for i in range(65,91)]
#chr hentes fra Built in Function Modellen

In [ ]:
#Opgave 2 - Store bogstaver fra den engelske alfabet
[ chr(i) for i in range(65,91) if i not in [70, 75, 80, 90]   ]
#chr hentes fra Built in Function Modellen
#Lav en loop der generer en liste

In [ ]:
#Opgave 3 
[ chr(i) for i in range(65,91) if not (i >= 70 and i <= 79 and (i - 70) % 2 ==0)] 
#chr hentes fra Built in Function Modellen
#Lav en loop der generer en liste